body {
  display: block;
  background-color: antiquewhite;
  border-radius: 4px;
}
h1 {
  text-align: center;
}
a {
  color: brown;
}
a :hover {
  color: brown;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
footer {
  margin-top: 5px;
  text-align: center;
}
p {
  display: block;
  margin: 0 auto;
  max-width: 350px;
  padding-top: 10px;
}
.contact {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}
